.ratings{
 border:solid 3px;
 font-family:monospace;
 text-align:center;
 color:purple;
 background-color:pink;
  
}


.movies{
  border:solid 3px;
  font-family:monospace;
  text-align: center;
  background-color:lightblue;
  color:white;
  
}