/*375C78, 368060, BB6E4F, BB8D4F*/


body {
 background-image: url('../images/texturetastic_gray.png');
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

h1, h2 {
  text-align: center;
  color: #C44444;
  font-family: 'ostrich sans', sans-serif;
  
}

h3 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-family: 'ostrich sans', sans-serif;
  color: #2D8168;
}

h4 {
  color: #2D8168;
  font-family: 'ostrich sans rounded', sans-serif;  
}

h5 {
  float: right;
  color: #6C337A;
  font-family: 'ostrich sans rounded';
}

body{
  font-family: sans-serif;
}

.experience h3 {
  color: #375C78;
}

.education h3 {
  color: #375C78;
}

.additionals h3 {
  color: #375C78;
}

.volunteer h3 {
  color: #375C78;
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}
