/*Sara Anne LaMachia
MEOW

Peach- #FFB44D 
Periwinkle- #678DE8 
Sea Green- #2EFFBC 
Purple- #AE46FF */

@import url(http://fonts.googleapis.com/css?family=Merriweather);

body{
  font-family: "merriweather", serif;
}

header { 
 background-color: #DDDDDD;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
  font-family:"american_horror_story";
  text-transform: uppercase;
  font-size: 2em;
  
}

#boo {
  text-align: center;  
}

.main {
  width:70%;
  float: left;
  border:solid;
 
  

}
.sidebar{
  width:25%;
  float: right;
  border: solid;
  
}
a {
  color: #678DE8
}

h1 { 
  color:#678DE8
}

.colorwrapper{
  
}

.colorsquare{
   width: 200px;
  height: 200px;
  float: left;
}
 
.color1 {
  background-color: #C44444;
}
.color2 {
  background-color: #2D8168; 
}
.color3 {
  background-color: #369D36;
}

.color4 {
  background-color: #C47144;
}

.navigation{
  list-style:
  }

li{
  display: inline-block;
  padding: 10px;
    
}
.site-footer a{
font-size: 1.5em;
color: #678DE8;
}

.site-footer a:hover{
color: #C44444;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}

.footer {
  width: 100%;
  float: none;
  text-align: center;
  border: solid;
}