/*Sara Anne LaMachia
MEOW

Peach- #FFB44D 
Periwinkle- #678DE8 
Sea Green- #2EFFBC 
Purple- #AE46FF */


header { 
 background-color: #DDDDDD;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
}

#boo {
  text-align: center;  
}

a {
  color: #678DE8
}

h1 { 
  color:#678DE8
}

.colorwrapper{
  background-color: pink;
}

.colorsquare{
   width: 200px;
  height: 200px;
  float: left;
}
 
.color1 {
  background-color: #C44444;
}
.color2 {
  background-color: #2D8168; 
}
.color3 {
  background-color: #369D36;
}

.color4 {
  background-color: #C47144;
}

.clearfix: before,
.clearfix: after {
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}