/*Going for a fallish theme, put CSS below*/


body {
 background-image: url('../images/feathers.png');
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

h1{ 
  font-family: ubuntu, sans-serif;
  color:#CC4A14;
}

h2{
  font-family: ubuntu, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color:#18CC1B;
}


.links{ 
  font-family: ubuntu, sans-serif;
  font-size: 1em;
  color:#CC4A14;
  
}

.speakers{
  font-family:ubuntu, sans-serif;
  font-size: 1em;
  text-align: center;
  color:#2A8A2B;
}
  
h4{
  font-family: ubuntu, sans-serif;
  color:#CC4A14;
}
a{
  color:#FF0100;
}

a:hover{
  color:#99614A;
}
  
p{
  font-family:hattori, sans-serif;
  color:#99614A;
}

ol{
  font-family:hattori, sans-serif;
  color:#99614A;
}